@import url('https://fonts.googleapis.com/css?family=Pacifico'); /*header*/
@import url('https://fonts.googleapis.com/css?family=KoHo'); /*body*/


body {
    font-family: 'KoHo', sans-serif;
    color: #86a0a3;
    background-color: #cde4ff;
    margin-top: 1em;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

h3 {
    color: rgb(78, 218, 97);
    text-decoration: underline;
}

#navbar > ul {
    margin-top: 800;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1cm;
}

#navbar > ul > li {
    margin: 0 2em;
    display: inline-block;

    border-bottom: solid #7f8c8d 2px;
    position: relative;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: #ffffff;
}


#intro {
    font-size: 5em;
    text-align: center;
}

#title {
    text-align: center;
}

#fancy {
    /*color: rgb(105, 201, 230);*/
    color:  rgb(82, 240, 103)
}

#features {
    text-align: center;
}

#table {
    text-align: center;
}


table#table {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2cm;
  }

  #creds {
      text-align: center;
      background-color: #eceadc;
  }

  #blurb {
      margin-bottom: 1cm;
  }

  #creation {
      margin-left: 3cm;
      margin-right: 3cm;
  }

header h1 {
  display: inline-block;
  margin: 10px 0;
}
header + hr {
  margin: 10px 0;
}
#contacts p,
#contacts p.lead{
  margin: 0;
}
.userAuth {
  display: block;
  margin: 20px 0 0;
}
.modal-header:last-child{
  border-bottom: 0;
}
.card {
  display: inline-block;
  margin: 1em;
  max-width: calc(25% - 2em);
}
#contacts {
  margin-left: -1em;
  margin-right: -1em;
  display: flex;
  flex-wrap: wrap;
}
.user-info {
  display: inline-block;
  margin: 0 0.5em;
}
.user-info img{
  display: inline-block;
  max-width: 2em;
}

.auth-true .authenticated,
.auth-false .unauthenticated {
  display: block;
}
.auth-true .unauthenticated,
.auth-false .authenticated {
  display: none;
}
